##Churn modelling using ANN

In [ ]:
##importing import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

##### Loading churn modellling dataset

###Churn Modelling Using ANN

####Importing important libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
###Loading dataset
df = pd.read_csv("/content/drive/My Drive/Churn_Model/Churn_Modelling.csv")

In [6]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [7]:
df.shape

(10000, 14)

In [8]:
#lets checking missing values in dataset
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
#Now split data into independent variable and dependent variable
X = df.iloc[:,3:13]
y = df.iloc[:,-1]

In [10]:
X.shape, y.shape

((10000, 10), (10000,))

In [11]:
#Now we convert categorical variable into numerical variables by using get dummies method
geography = pd.get_dummies(X['Geography'],drop_first= True)
gender = pd.get_dummies(X['Gender'], drop_first= True)

In [13]:
##Now we concate the both dataframe with df
X = pd.concat([X,geography, gender], axis = 1)
X.head()

   CreditScore Geography  Gender  Age  ...  Male  Germany  Spain  Male
0          619    France  Female   42  ...     0        0      0     0
1          608     Spain  Female   41  ...     0        0      1     0
2          502    France  Female   42  ...     0        0      0     0
3          699    France  Female   39  ...     0        0      0     0
4          850     Spain  Female   43  ...     0        0      1     0

[5 rows x 16 columns]

In [14]:
X.drop(['Geography', 'Gender'], axis = 1, inplace = True)

In [15]:
X.head()

   CreditScore  Age  Tenure    Balance  ...  Male  Germany  Spain  Male
0          619   42       2       0.00  ...     0        0      0     0
1          608   41       1   83807.86  ...     0        0      1     0
2          502   42       8  159660.80  ...     0        0      0     0
3          699   39       1       0.00  ...     0        0      0     0
4          850   43       2  125510.82  ...     0        0      1     0

[5 rows x 14 columns]

In [48]:
X.shape

(10000, 14)

In [49]:
#now feature scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [50]:
#first we split dataset into training data and testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [51]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [52]:
x_train.shape[1]

14

In [53]:
import keras

In [54]:
#now we create ANN
from keras.models import Sequential #creating any neural networks
from keras.layers import Dense  #create hidden layers.
from keras.layers import LeakyReLU, PReLU, ELU  
from keras.layers import Dropout #create dropout layer & it used for regularization parameter.

In [55]:
#Now initializing ANN
classifier = Sequential()



1. Now create input layer and first hiddenn layer
,units parameter means we create 10 neurons in hidden layers.
2. Now we add dropout layer 
,dropout layer used for deep neural networks to reduce overfitting problem.
3. Also we dont have to create more layers bcoz it leads to overfitting.
   

1

In [56]:
classifier.add(Dense(units = 10, kernel_initializer= 'he_normal', activation = 'relu', input_dim = x_train.shape[1]))
classifier.add(Dropout(0.3))

In [57]:
#now we adding seconde hidden layer.
classifier.add(Dense(units = 20, kernel_initializer='he_normal', activation= 'relu'))
classifier.add(Dropout(0.4))

In [58]:
#Now we adding third hidden layer.
classifier.add(Dense(units = 15, kernel_initializer= 'he_uniform', activation= 'relu'))
classifier.add(Dropout(0.2))

In [59]:
#Now adding output layer
classifier.add(Dense(units = 1, kernel_initializer='glorot_uniform', activation = 'sigmoid'))

In [60]:
#now compiling ANN
#for binary classification we should use 'binay crossentropy'
#and for multiclass classification we use 'categorical crossentropy'
classifier.compile(optimizer= 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [61]:
#now fitting the ANN and training set
#validation_split for we can test data set separately for our test_data.
#batch_size use for computation power is lesss, more number of records dont have to load at one time
#and ram will be free and we can run this program freely.
model = classifier.fit(x_train, y_train, validation_split=0.33, batch_size= 10, epochs= 100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.6564 - accuracy: 0.7180 - val_loss: 0.4972 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5261 - accuracy: 0.7884 - val_loss: 0.4817 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4986 - accuracy: 0.7919 - val_loss: 0.4700 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4881 - accuracy: 0.7955 - val_loss: 0.4637 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4758 - accuracy: 0.7972 - val_loss: 0.4526 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4627 - accuracy: 0.8020 - val_loss: 0.4409 - val_accuracy: 0.7974
Epoch 7/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4488 - accuracy: 0.8097 - val_loss: 0.4255 - val_accuracy: 0.8133
Epoch 8/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4352 - accuracy: 0.8192 - val_loss: 0.4169 - val_accuracy: 0.8220
Epoch 9/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4276 - accuracy: 0.8199 - val_loss: 0.4124 - val_accuracy: 0.8148
Epoch 10/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.8222 - val_loss: 0.4081 - val_accuracy: 0.8330
Epoch 11/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4162 - accuracy: 0.8278 - val_loss: 0.3969 - val_accuracy: 0.8319
Epoch 12/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8240 - val_loss: 0.3959 - val_accuracy: 0.8330
Epoch 13/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8291 - val_loss: 0.3983 - val_accuracy: 0.8342
Epoch 14/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8300 - val_loss: 0.3961 - val_accuracy: 0.8232
Epoch 15/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8280 - val_loss: 0.3946 - val_accuracy: 0.8345
Epoch 16/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3994 - accuracy: 0.8330 - val_loss: 0.3953 - val_accuracy: 0.8186
Epoch 17/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3991 - accuracy: 0.8285 - val_loss: 0.3905 - val_accuracy: 0.8236
Epoch 18/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8309 - val_loss: 0.3956 - val_accuracy: 0.8213
Epoch 19/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3985 - accuracy: 0.8337 - val_loss: 0.3972 - val_accuracy: 0.8152
Epoch 20/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8315 - val_loss: 0.3948 - val_accuracy: 0.8296
Epoch 21/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3963 - accuracy: 0.8322 - val_loss: 0.3937 - val_accuracy: 0.8243
Epoch 22/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3921 - accuracy: 0.8315 - val_loss: 0.3981 - val_accuracy: 0.8164
Epoch 23/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3924 - accuracy: 0.8362 - val_loss: 0.3904 - val_accuracy: 0.8224
Epoch 24/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8321 - val_loss: 0.3870 - val_accuracy: 0.8236
Epoch 25/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3904 - accuracy: 0.8354 - val_loss: 0.3895 - val_accuracy: 0.8258
Epoch 26/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3912 - accuracy: 0.8336 - val_loss: 0.3951 - val_accuracy: 0.8217
Epoch 27/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3917 - accuracy: 0.8328 - val_loss: 0.3902 - val_accuracy: 0.8186
Epoch 28/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3939 - accuracy: 0.8341 - val_loss: 0.3904 - val_accuracy: 0.8167
Epoch 29/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3920 - accuracy: 0.8324 - val_loss: 0.3930 - val_accuracy: 0.8190
Epoch 30/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3897 - accuracy: 0.8349 - val_loss: 0.3888 - val_accuracy: 0.8160
Epoch 31/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3890 - accuracy: 0.8334 - val_loss: 0.3923 - val_accuracy: 0.8167
Epoch 32/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3871 - accuracy: 0.8360 - val_loss: 0.3944 - val_accuracy: 0.8167
Epoch 33/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3864 - accuracy: 0.8306 - val_loss: 0.4008 - val_accuracy: 0.8186
Epoch 34/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3811 - accuracy: 0.8405 - val_loss: 0.3888 - val_accuracy: 0.8179
Epoch 35/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3786 - accuracy: 0.8390 - val_loss: 0.3891 - val_accuracy: 0.8270
Epoch 36/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3784 - accuracy: 0.8390 - val_loss: 0.3829 - val_accuracy: 0.8311
Epoch 37/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3895 - accuracy: 0.8315 - val_loss: 0.3902 - val_accuracy: 0.8281
Epoch 38/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3849 - accuracy: 0.8350 - val_loss: 0.3844 - val_accuracy: 0.8383
Epoch 39/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3791 - accuracy: 0.8378 - val_loss: 0.3790 - val_accuracy: 0.8342
Epoch 40/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3797 - accuracy: 0.8375 - val_loss: 0.3805 - val_accuracy: 0.8326
Epoch 41/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3854 - accuracy: 0.8375 - val_loss: 0.3865 - val_accuracy: 0.8164
Epoch 42/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3788 - accuracy: 0.8403 - val_loss: 0.3826 - val_accuracy: 0.8315
Epoch 43/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3835 - accuracy: 0.8356 - val_loss: 0.3848 - val_accuracy: 0.8334
Epoch 44/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3780 - accuracy: 0.8397 - val_loss: 0.3900 - val_accuracy: 0.8232
Epoch 45/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3765 - accuracy: 0.8345 - val_loss: 0.3830 - val_accuracy: 0.8232
Epoch 46/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3836 - accuracy: 0.8386 - val_loss: 0.3964 - val_accuracy: 0.8175
Epoch 47/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3828 - accuracy: 0.8347 - val_loss: 0.3866 - val_accuracy: 0.8228
Epoch 48/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3777 - accuracy: 0.8356 - val_loss: 0.3893 - val_accuracy: 0.8213
Epoch 49/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3774 - accuracy: 0.8406 - val_loss: 0.3821 - val_accuracy: 0.8205
Epoch 50/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3773 - accuracy: 0.8375 - val_loss: 0.3823 - val_accuracy: 0.8220
Epoch 51/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3792 - accuracy: 0.8380 - val_loss: 0.3934 - val_accuracy: 0.8228
Epoch 52/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3782 - accuracy: 0.8330 - val_loss: 0.3857 - val_accuracy: 0.8186
Epoch 53/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3779 - accuracy: 0.8410 - val_loss: 0.3807 - val_accuracy: 0.8311
Epoch 54/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3769 - accuracy: 0.8419 - val_loss: 0.3847 - val_accuracy: 0.8285
Epoch 55/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3753 - accuracy: 0.8386 - val_loss: 0.3839 - val_accuracy: 0.8236
Epoch 56/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3806 - accuracy: 0.8336 - val_loss: 0.3824 - val_accuracy: 0.8304
Epoch 57/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3812 - accuracy: 0.8364 - val_loss: 0.3856 - val_accuracy: 0.8300
Epoch 58/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3780 - accuracy: 0.8350 - val_loss: 0.3878 - val_accuracy: 0.8243
Epoch 59/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3756 - accuracy: 0.8408 - val_loss: 0.3826 - val_accuracy: 0.8258
Epoch 60/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3760 - accuracy: 0.8378 - val_loss: 0.3830 - val_accuracy: 0.8342
Epoch 61/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3688 - accuracy: 0.8403 - val_loss: 0.3768 - val_accuracy: 0.8406
Epoch 62/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3761 - accuracy: 0.8365 - val_loss: 0.3845 - val_accuracy: 0.8345
Epoch 63/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3746 - accuracy: 0.8377 - val_loss: 0.3827 - val_accuracy: 0.8281
Epoch 64/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3711 - accuracy: 0.8416 - val_loss: 0.3791 - val_accuracy: 0.8311
Epoch 65/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3728 - accuracy: 0.8386 - val_loss: 0.3809 - val_accuracy: 0.8285
Epoch 66/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3687 - accuracy: 0.8451 - val_loss: 0.3805 - val_accuracy: 0.8372
Epoch 67/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3709 - accuracy: 0.8421 - val_loss: 0.3804 - val_accuracy: 0.8368
Epoch 68/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3707 - accuracy: 0.8386 - val_loss: 0.3770 - val_accuracy: 0.8372
Epoch 69/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3680 - accuracy: 0.8399 - val_loss: 0.3830 - val_accuracy: 0.8247
Epoch 70/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3707 - accuracy: 0.8487 - val_loss: 0.3845 - val_accuracy: 0.8353
Epoch 71/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3757 - accuracy: 0.8395 - val_loss: 0.3840 - val_accuracy: 0.8266
Epoch 72/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3749 - accuracy: 0.8406 - val_loss: 0.3827 - val_accuracy: 0.8175
Epoch 73/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3742 - accuracy: 0.8408 - val_loss: 0.3815 - val_accuracy: 0.8289
Epoch 74/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3739 - accuracy: 0.8462 - val_loss: 0.3839 - val_accuracy: 0.8334
Epoch 75/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3691 - accuracy: 0.8365 - val_loss: 0.3797 - val_accuracy: 0.8323
Epoch 76/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3744 - accuracy: 0.8391 - val_loss: 0.3827 - val_accuracy: 0.8338
Epoch 77/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3716 - accuracy: 0.8399 - val_loss: 0.3821 - val_accuracy: 0.8326
Epoch 78/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3680 - accuracy: 0.8377 - val_loss: 0.3817 - val_accuracy: 0.8311
Epoch 79/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3746 - accuracy: 0.8401 - val_loss: 0.3834 - val_accuracy: 0.8152
Epoch 80/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3676 - accuracy: 0.8416 - val_loss: 0.3747 - val_accuracy: 0.8357
Epoch 81/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3720 - accuracy: 0.8453 - val_loss: 0.3790 - val_accuracy: 0.8213
Epoch 82/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3706 - accuracy: 0.8373 - val_loss: 0.3759 - val_accuracy: 0.8368
Epoch 83/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3682 - accuracy: 0.8418 - val_loss: 0.3753 - val_accuracy: 0.8395
Epoch 84/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3689 - accuracy: 0.8433 - val_loss: 0.3785 - val_accuracy: 0.8323
Epoch 85/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3732 - accuracy: 0.8408 - val_loss: 0.3767 - val_accuracy: 0.8357
Epoch 86/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3699 - accuracy: 0.8453 - val_loss: 0.3791 - val_accuracy: 0.8368
Epoch 87/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3669 - accuracy: 0.8419 - val_loss: 0.3824 - val_accuracy: 0.8179
Epoch 88/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3727 - accuracy: 0.8354 - val_loss: 0.3836 - val_accuracy: 0.8266
Epoch 89/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3624 - accuracy: 0.8485 - val_loss: 0.3761 - val_accuracy: 0.8372
Epoch 90/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3664 - accuracy: 0.8391 - val_loss: 0.3779 - val_accuracy: 0.8311
Epoch 91/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3682 - accuracy: 0.8462 - val_loss: 0.3736 - val_accuracy: 0.8398
Epoch 92/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3637 - accuracy: 0.8470 - val_loss: 0.3766 - val_accuracy: 0.8376
Epoch 93/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3676 - accuracy: 0.8425 - val_loss: 0.3783 - val_accuracy: 0.8357
Epoch 94/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3667 - accuracy: 0.8427 - val_loss: 0.3761 - val_accuracy: 0.8387
Epoch 95/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3723 - accuracy: 0.8406 - val_loss: 0.3803 - val_accuracy: 0.8349
Epoch 96/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3680 - accuracy: 0.8401 - val_loss: 0.3779 - val_accuracy: 0.8368
Epoch 97/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3672 - accuracy: 0.8425 - val_loss: 0.3825 - val_accuracy: 0.8300
Epoch 98/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3721 - accuracy: 0.8377 - val_loss: 0.3809 - val_accuracy: 0.8220
Epoch 99/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3675 - accuracy: 0.8378 - val_loss: 0.3827 - val_accuracy: 0.8186
Epoch 100/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3714 - accuracy: 0.8414 - val_loss: 0.3782 - val_accuracy: 0.8307

#####After adding one more hidden layer and add another weight initlizer,

####After adding dropout layer we can see that accuracy is 84% and validation accuracy = 83%

In [62]:
#now we predict model and check the accuracy of the model
y_predict = classifier.predict(x_test)
y_predict = (y_predict > 0.5)

In [63]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy = accuracy_score(y_test, y_predict)
accuracy

0.8365

#### We can see that accuracy for test data is 83%